@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
.hero__page{
    background:
    linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.8)
        ),
    url(../../../public/grid.png), url(../../../public/smoke.png) no-repeat;
    background-color: #181818;
    
}
.about-us{
    background: linear-gradient(180deg, #242424 0%, #121212 100%);
}

.font_urbanist{
    font-family: "Urbanist", sans-serif;
}
/* .search__input::placeholder{
    color:#121212
} */
 







